.page {
  height: calc(100vh - 70px);
  width: 100vw;
  overflow: scroll;
  position: relative;
}

.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  border-top: 1px solid #eee;
  display: flex;

  a {
    flex: 1;
    color: #333;
    text-align: center;

    i {
      display: block;
      margin-top: 5px;
    }
  }

  .active {
    color: #0084c9;
  }
}
