.page {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 70px;
  left: 0;
  right: 0;
}

.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  border-top: 1px solid #eee;
  display: flex;

  a {
    flex: 1;
    color: #333;
    text-align: center;

    i {
      display: block;
      margin-top: 5px;
    }
  }

  .active {
    color: #0084c9;

    i {
      animation: bigger 0.3s;
    }
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
