.link {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.field {
  margin-top: 25px;

  .role {
    display: flex;
    padding-left: 12px;

    & > div {
      flex: 1;
      padding: 0 32px 0 12px;
    }
  }
}
